<html>
<h1>Connected</h1>
<h1><%= result[0].user_id%></h1>
<h1><%= result[0].user_email%></h1>

<h1><%= result[0].user_mobile%></h1>
<h1><%= result[0].user_name %></h1>
<h1><%= result[0].user_dob%></h1>

</html>