<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="cart.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>

<div class="navigation-bar sticky-top">

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">ART GALLERY</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">ABSTRACT</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">POP</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">SURREALISM</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">CONCEPTUAL</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">HYPERREALISM</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">CONTACT US</a>
        </li>
        <li class="nav-item pull-right">
            <a class="nav-link" style="margin-left: " href="/signout">Sign out</a>
        </li>
        <li class="nav-item pull-right">
            <a href="" class="nav-link active"><i class="fa fa-user" style="color: #4fc4ff"></i>&nbsp;<%= login %></a>
        </li>

    </ul>

</div>


<div class="row" style="display: flex">
    <div class="container col-lg-4" >
        <div class="card cart-card" style="width: 60%;" >
            <div class="card-body">
                <div style="display: flex;background-color: lightblue;border-radius: 5%">
                    <img class="image" src="<%= link %>" style="width: 100px;height: 100px;border-radius: 50%">
                    <div style="margin-left: 10%">
                        <h3><%= login %></h3>
                        <p><small><%= loginId %></small></p>
                    </div>
                </div>
                <a  style="cursor: pointer;color: black;text-decoration: none" href="/cart">
                    <hr>
                    <div class="image">
                        <h3><span class="glyphicon glyphicon-shopping-cart"></span> &nbsp;My Cart</h3>
                    </div>
                    <hr>
                </a>
                <div style="cursor: pointer">
                    <div class="image">
                        <h3><span class="glyphicon glyphicon-heart"></span> &nbsp;Wishlist</h3>
                    </div>
                </div>
                <div style="background-color: lightblue;border-radius: 5%">
                    <hr>
                    <div class="image">
                        <h3><i class="glyphicon glyphicon-list-alt"></i> &nbsp;My Orders</h3>
                    </div>
                    <hr>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn" style="border-color: #4fc4ff;border: solid">Edit Profile</a>
                    <a href="/signout" class="btn btn-primary">Sign Out</a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="row cart-cart">
            <div class="col-lg-11">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5><span class="glyphicon glyphicon-list-alt"></span> My Orders</h5>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <% result.forEach(function(item){ %>
                        <div class="row">
                            <div class="col-lg-2">
                                <img class="img-responsive" src="<%= item.link %>">
                            </div>
                            <div class="col-lg-4">
                                <h4 class="product-name"><strong><%= item.title %></strong></h4>
                                <h4><small><%= item.author %></small></h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-6 text-right">
                                    <h6><strong>Rs <%= item.price %> <span class="text-muted">x</span></strong></h6>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control input-sm" value="<%= item.no_of_paint %>" disabled>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <% })%>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p style="font-size: 40px;color: white;text-align: center">
                    About ArtGallery
                </p>
                <p style="color: white;text-align: center">
                    ArtGallery is an online<br>
                    platform for displaying<br>
                    and buying paintings.<br>
                    It is designed and developed<br>
                    by BHASSAD DEVELOPERS
                </p>
            </div>
            <div class="col-sm-4">
                <p style="font-size: 40px;color: white;text-align: center">
                    Important Pages
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Return Policy</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Return</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Privacy Policy</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">License</a>
                </p>
            </div>
            <div class="col-sm-4">
                <p style="font-size: 40px;color: white;text-align: center">
                    Let us help you
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Your Account</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Your Orders</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Prime Services</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">ArtGallery Assistant</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex;width: 250px;margin-left: auto;margin-right:auto;" class="container">
        <p style="color: darkgrey">2018 Copyright &nbsp;:&nbsp;</p>
        <a href="file:///C:/Users/Dell/.WebStorm2017.2/config/scratches/scratch.html" style="color: white">ArtGallery.com</a>
    </div>
    <p style="text-align: center;color: darkgrey">
        A product by BHASSAD DEVELOPERS
    </p>
    <div class="row" style="width: 250px;margin-left: auto;margin-right: auto" >
        <a href="#" class="icon facebook" style="margin-left: auto; margin-right: auto"><i class="fa fa-facebook fa-fw fa-2x col"></i></a>
        <a href="#" class="icon google" style="margin-left: auto; margin-right: auto"><i class="fa fa-google-plus fa-fw fa-2x col"></i></a>
        <a href="#" class="icon twitter" style="margin-left: auto; margin-right: auto"><i class="fa fa-twitter fa-fw fa-2x col"></i></a>
        <a href="#" class="icon twitter" style="margin-left: auto; margin-right: auto"><i class="fa fa-youtube-play fa-fw fa-2x col"></i></a>
        <a href="#" class="icon twitter" style="margin-left: auto; margin-right: auto"><i class="fa fa-github fa-fw fa-2x col"></i></a>
    </div>
    <br><br>
</div>

</body>
</html>